h1,
svg,
li,
p {
  transition: all 0.3s ease-in-out;
}

nav {
  animation: navLoad 0.3s ease-in-out;
}

.banner {
  opacity: 0;
  transform: translateY(0);
  animation: sectionLoad 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.parallax {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes navLoad {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes sectionLoad {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
