button {
  width: 5rem;
  height: 2rem;
  border-style: none;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.btn-primary {
  width: 7rem;
  height: 3rem;
  background-color: var(--clr-primary-dark);
  color: white;
  text-align: center;
}
