::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--clr-secondary-light);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary-light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-light);
}
