svg {
  width: 1.5rem;
}

.animation,
.svg-projects {
  fill: var(--clr-primary-light);
}

.animation:hover,
.svg-projects:hover {
  fill: var(--clr-primary-dark);
  transform: translateY(-2px);
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.085));
  cursor: pointer;
}

.change-theme-svg-light-mode {
  margin: auto;
  display: flex;
  width: 0.9rem;
  fill: var(--clr-secondary-dark);
}

.change-theme-svg-dark-mode {
  margin: auto;
  display: flex;
  width: 0.9rem;
  fill: white;
}

.change-theme-svg-light-mode:hover,
.change-theme-svg-dark-mode:hover,
.change-lang:hover {
  fill: var(--clr-primary-dark);
  color: var(--clr-primary-dark);
}

.skills-svg {
  width: 2rem;
  fill: var(--clr-primary-dark);
}

.footer-svg {
  width: 1.2rem;
  fill: white;
}

.footer-svg:hover {
  fill: rgba(255, 255, 255, 0.292);
  cursor: pointer;
}

.open-project-svg {
  fill: var(--clr-primary-dark);
  width: 1.5rem;
  stroke-width: 5%;
}

.project-svg {
  fill: var(--clr-primary-dark);
  width: 8rem;
}
