$type-scale: (
  small: (
    sm: clamp(0.8rem, 0.1vw + 0.4rem, 0.89rem),
    base: clamp(1rem, 0.2vw + 0.1rem, 1rem),
    md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem),
  ),
  large: (
    lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem),
    xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem),
    xxl: clamp(3rem, 6vw + 5rem, 10rem),
  ),
);

html {
  font-family: "RubikNormal", sans-serif;
  font-size: var(--fs-base);
  color: var(--clr-text-light);
  letter-spacing: -0.06rem;
}

h1 {
  font-size: var(--fs-xxl);
  letter-spacing: -0.5rem;
}

h2 {
  font-size: var(--fs-xl);
  letter-spacing: -0.1rem;
}

h3 {
  font-size: var(--fs-md);
  letter-spacing: -0.04rem;
}

.btn-primary {
  font-family: "RubikNormal", sans-serif;
  font-size: var(--fs-base);
}
