#about {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  z-index: 30;
  h3 {
    margin-bottom: 0.8rem;
  }
}

.content-about {
  gap: 2rem;
}

.skills {
  display: flex;
  flex-direction: column;
  .containers {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  p {
    margin-bottom: 0.2rem;
  }
  .svgs {
    display: flex;
    gap: 0.4rem;
  }
}
