footer {
  color: white;
  padding: 2rem;
  position: absolute;
  left: 0;
  width: 100vw;
  margin-top: 5rem;
  background-color: var(--clr-primary-dark);
  .container-footer {
    overflow-x: hidden;
    max-width: 87.5rem;
    margin: auto;
    padding-inline: 2rem;
  }
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icons {
  display: flex;
  gap: 0.5rem;
}
