footer {
  z-index: 50;
  height: max-content;
  color: white;
  padding: 2rem;
  position: absolute;
  left: 0;
  width: 100vw;
  margin-top: 5rem;
  background-color: var(--clr-primary-dark);
  .container-footer {
    max-width: 87.5rem;
    margin: auto;
    margin-bottom: 1rem;
    padding-inline: 2rem;
  }
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.links-footer {
  display: flex;
  gap: 3rem;
}

.footer-link:hover {
  opacity: 0.4;
}

@media (max-width: 786px) {
}
