#home {
  margin-top: 1rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all 1s ease-in-out;
  margin-bottom: 5rem;
}

.banner {
  width: 100%;
  margin-top: -13rem;
  display: flex;
  flex-shrink: 1;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.parallax {
  z-index: -1;
  opacity: 1;
  position: relative;
  left: 50%;
  right: 50%;
  margin-top: -5rem;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 100vw;
  img {
    opacity: 0.05;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: auto;
  }

  .hidden-img {
    display: none;
  }
}

.line-and-icons {
  display: flex;
  align-items: center;
  gap: 2rem;

  .icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.text-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  .line {
    width: 10px;
    height: 300px;
    border-radius: 3px;
    background-color: var(--clr-secondary-light);
  }

  .text {
    display: flex;
    flex-direction: column;
  }

  .btn-primary {
    margin-top: 2rem;
  }
}

.art-column {
  display: flex;
  flex-direction: column;
}

.art-text {
  color: var(--clr-secondary-light);
  margin-block: -1rem;
  text-align: right;
}

.design-text {
  margin-top: -2rem;
}

.art-text:hover {
  color: var(--clr-primary-light);
  cursor: default;
}

.tech-learnt {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 20rem;
  flex-wrap: wrap;
}

.tech-item {
  color: var(--clr-text-dark);
  background-color: var(--clr-primary-light);
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

.tech-item:hover {
  background-color: var(--clr-primary-dark);
  cursor: default;
}

.colored {
  color: var(--clr-primary-dark);
}

.indicator {
  display: none;
}

@media (max-width: 764px) {
  #home {
    height: unset;
    margin-bottom: 0;
    margin-block: 15rem;
    flex-direction: column;
  }

  .indicator {
    display: block;
    margin-top: 3rem;
    fill: var(--clr-primary-dark);
    width: 2rem;
    animation: animateSVG 4s ease-in-out infinite;
  }

  @keyframes animateSVG {
    0% {
      fill: var(--clr-primary-light);
    }
    100% {
      fill: var(--clr-primary-dark);
    }
  }

  .banner {
    margin-top: -4rem;
    flex-direction: column-reverse;
  }

  .art-column {
    position: relative;
    opacity: 0.2;
    margin-bottom: 4rem;

    .art-text {
      text-align: center;
    }
  }

  .text-column {
    margin-top: 2rem;
    justify-content: center;
    width: 20rem;
    z-index: 1;
    position: absolute;
    top: 0;
    .line {
      height: 250px;
    }
  }
  .parallax {
    display: none;
  }
  h1 {
    line-height: 9rem;
  }
}
