header {
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding-block: 1rem;
}

nav a {
  transition: all 0.2s ease-in-out;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav,
nav a {
  position: relative;
}

nav a::before {
  content: "";
  height: 5px;
  background: var(--clr-primary-light);
  border-radius: 10px;
  position: absolute;
  bottom: -0.75em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

nav a:hover::before {
  transform: scale(1, 1);
}

.nav-bottons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.change-theme,
.change-lang {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.change-theme-svg-dark-mode {
  position: relative;
  opacity: 1;
}

.change-theme-svg-light-mode {
  opacity: 1;
}

.lang-en {
  display: flex;
  justify-content: center;
  opacity: 1;
}

.lang-pt {
  display: flex;
  justify-content: center;
}

.btn-nav {
  cursor: pointer;
}

.hiddden {
  transform: translateY(20px);
  cursor: default;
  opacity: 0;
}

.burguer {
  display: none;
  .line {
    background-color: grey;
    width: 25px;
    height: 3px;
    margin: 2px;
    border-radius: 2px;
    transition: all 0.1s ease-in-out;
  }
}

@media screen and (max-width: 764px) {
  .burguer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    z-index: 999;
    margin-top: 1rem;
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-active {
    display: flex;
    animation: fadeIn 1s ease-in-out;
    transition: all 1s ease-in-out;
    gap: 0;
  }

  .nav-bottons {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;
  }

  .change-theme {
    display: flex;
  }

  .lang-pt {
    margin-left: -0.2rem;
  }

  .lang-en {
    margin-right: -1rem;
  }

  .change-theme-svg-dark-mode {
    margin-left: 2.5rem;
  }

  .change-theme-svg-light-mode {
    margin-right: -3.4rem;
  }

  .toggle-theme {
    max-width: 5rem;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -4.5px);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
