.project {
  border: 1px solid var(--clr-secondary-light);
  border-radius: 8px;
  padding: 2rem;
  max-width: 80%;
  margin-block: 2rem;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.218);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hidden {
  overflow: hidden; /* Hide the element content, while height = 0 */
  max-height: 0;
  opacity: 0;
  transition: all 0.8s ease-in-out, opacity 400ms ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project:hover {
  .hidden {
    max-height: 500px;
    opacity: 1;
    transition: all 0.8s 0ms ease-in-out, opacity 400ms ease-in-out;
  }
}

.website-links {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.tech-used {
  ul {
    display: flex;
    gap: 1rem;
  }
  color: lightgrey;
}
