#projects {
  margin-top: -10rem;
}

.hidden {
  overflow: hidden; /* Hide the element content, while height = 0 */
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out, opacity 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project:hover {
  .hidden {
    max-height: 500px;
    opacity: 1;
    transition: all 0.5s ease-in-out, opacity 0.2s ease-in-out;
    margin-top: 0.8rem;
  }
}

.website-links {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.tech-used {
  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  color: lightgrey;
}

@media (max-width: 764px) {
  .hidden {
    max-height: 500px;
    opacity: 1;
    transition: all 0.5s ease-in-out, opacity 0.2s ease-in-out;
    margin-top: 0.8rem;
  }
}
